{%extends 'base.html'%}
{%load static%}

{% block content %}
<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
<div class='row'>
  <div class="col s2 offset-s1"> <h5>Home > Shop</h5>
</div>
<div class='col s2 offset-s4'>
  <div class="input-field">
    <select>
      <optgroup label="Price">
        <option value="1">Ascending</option>
        <option value="2">Descending</option>
      </optgroup>
      <optgroup label="Name">
        <option value="3">A to Z</option>
        <option value="4">Z to A</option>
      </optgroup>
    </select>
      <label>Sort by</label>
  </div>
</div>
</div>
<div class="row">
    
      <div class='col s2 offset-s1 '>
        
        <div class="row">
        <div class="collection sidebar">
          <p class="flow-text" style="margin-top: 0px !important;">Categories</p>
          <a href="#" class="collection-item">Electronics</a>
          <a href="#" class="collection-item">Clothing</a>
          <a href="#" class="collection-item">Home & Decor</a>
          <a href="#" class="collection-item">Sports & Outdoor</a>
        </div>
      </div>
    </div>
        <div class='col s9'>
          <div class='container'>
            <div class="row">
              {% for product in product_list %}
             
                 <div class="col s12 m6 l3">
                     <div class="card small">
                         <div class="card-image waves-effect waves-block waves-light">
                          {% for photo in product.photo_set.all %} 
                          
                          {% empty %}
                          <img class="activator" src="{{photo.url}}">
                          {% endfor %} 
                        </div>
                         <div class="card-content">
                           <span class="card-title activator grey-text text-darken-4"><a href='#'><p class="float-text">{{ product.name }}</p></a></span>
                           <p><a href="#">Add to Cart</a></p>
                         </div>
                         <div class="card-reveal">
                           <span class="card-title grey-text text-darken-4">Product Title<i class="material-icons right">close</i></span>
                           <p>{{ product.desc }}</p>
                         </div>
                         </div> 
                 </div>
                 {% endfor %}
                                  
             </div>
             
           </div>
            
            
            
        </div>
    
    </div>

    
 
    
    


{% endblock %}