{%extends 'base.html'%}
{%load static%}

{% block content %}
<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
<h5>Home > Shop</h5>
<div class="row">
    <div class='col s2 '>
        <div class="collection sidebar">
        <h5>Categories</h5>
        <a href="#" class="collection-item">Electronics</a>
        <a href="#" class="collection-item">Clothing</a>
        <a href="#" class="collection-item">Home & Decor</a>
        <a href="#" class="collection-item">Sports & Outdoor</a>
      </div></div>
        <div class='col s10'>
           <div class='container'>
             <div class="row">
                 <div class="col s3">
                     <div class="card small">
                         <div class="card-image waves-effect waves-block waves-light">
                           <img class="activator" src="{% static 'img/no-product.png'%}">
                         </div>
                         <div class="card-content">
                           <span class="card-title activator grey-text text-darken-4"><a href='#'>Product Title</a><i class="material-icons right">Details</i></span>
                           <p><a href="#">Add to Cart</a></p>
                         </div>
                         <div class="card-reveal">
                           <span class="card-title grey-text text-darken-4">Product Title<i class="material-icons right">close</i></span>
                           <p>Here is some more information about this product that is only revealed once clicked on.</p>
                         </div>
                         </div> 
                 </div>
                 <div class="col s3">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="{% static 'img/no-product.png'%}">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4"><a href='#'>Product Title</a><i class="material-icons right">Details</i></span>
                          <p><a href="#">Add to Cart</a></p>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Product Title<i class="material-icons right">close</i></span>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                        </div> 
                </div>
                <div class="col s3">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="{% static 'img/no-product.png'%}">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4"><a href='#'>Product Title</a><i class="material-icons right">Details</i></span>
                          <p><a href="#">Add to Cart</a></p>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Product Title<i class="material-icons right">close</i></span>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                        </div> 
                </div>
                 
             </div>
             <div class="row">
                <div class="col s3">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="{% static 'img/no-product.png'%}">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4"><a href='#'>Product Title</a><i class="material-icons right">Details</i></span>
                          <p><a href="#">Add to Cart</a></p>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Product Title<i class="material-icons right">close</i></span>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                        </div> 
                </div>
                <div class="col s3">
                   <div class="card small">
                       <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="{% static 'img/no-product.png'%}">
                       </div>
                       <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4"><a href='#'>Product Title</a><i class="material-icons right">Details</i></span>
                         <p><a href="#">Add to Cart</a></p>
                       </div>
                       <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">Product Title<i class="material-icons right">close</i></span>
                         <p>Here is some more information about this product that is only revealed once clicked on.</p>
                       </div>
                       </div> 
               </div>
               <div class="col s3">
                   <div class="card small">
                       <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="{% static 'img/no-product.png'%}">
                       </div>
                       <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4"><a href='#'>Product Title</a><i class="material-icons right">Details</i></span>
                         <p><a href="#">Add to Cart</a></p>
                       </div>
                       <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">Product Title<i class="material-icons right">close</i></span>
                         <p>Here is some more information about this product that is only revealed once clicked on.</p>
                       </div>
                       </div> 
               </div>
                
            </div>
            <div class="row">
                <div class="col s3">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="{% static 'img/no-product.png'%}">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4"><a href='#'>Product Title</a><i class="material-icons right">Details</i></span>
                          <p><a href="#">Add to Cart</a></p>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Product Title<i class="material-icons right">close</i></span>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                        </div> 
                </div>
                <div class="col s3">
                   <div class="card small">
                       <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="{% static 'img/no-product.png'%}">
                       </div>
                       <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4"><a href='#'>Product Title</a><i class="material-icons right">Details</i></span>
                         <p><a href="#">Add to Cart</a></p>
                       </div>
                       <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">Product Title<i class="material-icons right">close</i></span>
                         <p>Here is some more information about this product that is only revealed once clicked on.</p>
                       </div>
                       </div> 
               </div>
               <div class="col s3">
                   <div class="card small">
                       <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="{% static 'img/no-product.png'%}">
                       </div>
                       <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4"><a href='#'>Product Title</a><i class="material-icons right">Details</i></span>
                         <p><a href="#">Add to Cart</a></p>
                       </div>
                       <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">Product Title<i class="material-icons right">close</i></span>
                         <p>Here is some more information about this product that is only revealed once clicked on.</p>
                       </div>
                       </div> 
               </div>
                
            </div>
            <div class="row">
                <div class="col s3">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="{% static 'img/no-product.png'%}">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4"><a href='#'>Product Title</a><i class="material-icons right">Details</i></span>
                          <p><a href="#">Add to Cart</a></p>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Product Title<i class="material-icons right">close</i></span>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                        </div> 
                </div>
                <div class="col s3">
                   <div class="card small">
                       <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="{% static 'img/no-product.png'%}">
                       </div>
                       <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4"><a href='#'>Product Title</a><i class="material-icons right">Details</i></span>
                         <p><a href="#">Add to Cart</a></p>
                       </div>
                       <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">Product Title<i class="material-icons right">close</i></span>
                         <p>Here is some more information about this product that is only revealed once clicked on.</p>
                       </div>
                       </div> 
               </div>
               <div class="col s3">
                   <div class="card small">
                       <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="{% static 'img/no-product.png'%}">
                       </div>
                       <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4"><a href='#'>Product Title</a><i class="material-icons right">Details</i></span>
                         <p><a href="#">Add to Cart</a></p>
                       </div>
                       <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">Product Title<i class="material-icons right">close</i></span>
                         <p>Here is some more information about this product that is only revealed once clicked on.</p>
                       </div>
                       </div> 
               </div>
                
            </div>
           </div>
            
            
            
        </div>
    
    </div>

    
 
    
    


{% endblock %}