{% extends 'base.html' %}
{% block content %}

<a href="{% url 'products_order_by_alphabet' %}"><button class="btn">Order By Alphabet</button></a>
<a href="{% url 'products_index_decreasing' %}"><button class="btn">Order By Decreasing price</button></a>
<a href="{% url 'products_index_increasing' %}"><button class="btn">Order By Increasing price</button></a>


<h1>Product List</h1>

{% for product in product_list %}

    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ product.name }}</span>
            <p>Description : {{ product.desc }}</p>
            <p>Quantity : {{ product.quantity }}</p>
            <p>price : ${{product.price }}</p>
            <a href="{% url 'product_detail' product.id%}"><button class="btn"> View Details </button></a>
        </div>
    </div>

{% endfor %}

{% endblock %}