{%extends 'base.html'%}
{%load static%}

{% block content %}
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#profile">Profile</a></li>
      <li class="tab col s3"><a href="#products">My Products</a></li>
      
      
    </ul>
  </div>
  <div id="products" class="col s6">
    <p class='flow-text'>You can view or remove your wishlisted products from here</p>
    <div class="row">
      <div class="col s2">
          <div class="card small">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'img/no-product.png'%}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><a href='#'>Product Title</a><i class="material-icons right">Details</i></span>
                <p><a href="#">Remove from wishlist</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Product Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
              </div> 
      </div>
      
      
  </div>
  </div>
  
    <div id="profile" class="col s1">
      <div class="row">
        <div class="col s3">
        <ul class="collection">
        <li class="collection-item">Username: </li>
        <li class="collection-item">Name: </li>
        <li class="collection-item">Email: </li>
        <li class="collection-item">Password: </li>
      </ul>
    </div>
  </div>
</div>
</div>
{% endblock%}