{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{%static "css/materialize.css" %}'>
    <link rel="stylesheet" type="text/css" href='{%static "css/style.css" %}'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{% static 'js/materialize.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <title>Shop</title>
</head>
<body>
    <header class='navbar-fixed'>
        <nav>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">Django Shop</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/products/">Products</a></li>
                <li class='loginBtn'><a class ='modal-trigger'href="#login">Login</a></li>
              </ul>
            </div>
          </nav>
           <!-- Modal Trigger -->

  <!-- Modal Structure -->
  <div id="login" class="modal">
    <div class="modal-content">
      <div class="row"><div class="col s2 offset-s5 center-align"><h4 class="flow-text">Login</h4></div></div>
      <div class="row  valign-wrapper">
        <form class="col s5" method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input name='user' id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Username</label>
              
            </div>
            </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">vpn_key</i>
              <input name='password' id="icon_telephone" type="password" class="validate">
              <label for="icon_telephone">Password</label>
            </div> 
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="icon_telephone" type="submit" style='width: 100%;' class="btn" value="Login">
            </div>
          </div>
          <input type="hidden" name="next" value="{{ next }}">
        </form>
        <div class="col s1"><p class="flow-text">or</p></div>          
        <form class="col s5" method="POST" action="#">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="username" type="text" class="validate">
              <label for="username">Username</label>
            </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input name='fullname' id="fullname" type="text" class="validate">
                <label for="fullname">Fullname</label>
              </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">email</i>
                  <input name='email'  id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
                </div>
            <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">vpn_key</i>
              <input name='password' onkeyup="check()" autocomplete="new-password" id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">vpn_key</i>
              <input name='confirm_password' autocomplete="new-password" onkeyup="check()" id="confirm_password" type="password" class="validate">
              <label for="confirm_password">Retype Your Password</label>
              <span id='message'></span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="register" type="button" style="width:100%" class="btn" value="Register" disabled>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div> -->
  </div>
        </header>

  <!-- Modal Structure -->

    <div class="main">
      
        <div class="col s12">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    
    
</body>
<footer>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Policies</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Terms & Conditions</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Returns & Exchanges</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Product Warranty</a></li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Menu</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Products</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">My Account</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 DjangoShop. All rights reserved. 
      <a class="grey-text text-lighten-4 right" href="#!"></a>
      </div>
    </div>
  </footer>
</footer>
</html>